
body {
  font-family: sans-serif;
}
pre {
  margin: 0 auto;
  padding: 10px;
  background: lightcyan;
  text-align: left;
}
#logContainer {
  height: 800px;
  overflow: scroll;
  border: 1px solid black;
}