
body {
  font-family: sans-serif;
}
pre {
  margin: 0 auto;
  padding: 10px;
  background: lightcyan;
  text-align: left;
}

#logContainer {
  height: 800px;
  width: 70%;
  border: 1px solid black;
  float: left;
  overflow: auto;
}

#sidebar {
  border: 1px solid black;

  width: 29%;
  height: 800px;
  float: right;
  overflow: auto;
}